{% extends "base_admin.html" %}
{% block title %}Edit Member{% endblock %}
{% block content %}

<h1>ATTENTION! This page is nolonger used and not vailable</h1>
<div class="px-4 pt-1 my-1">
    <h1 class="display-4 text-body-emphasis fw-bold">Edit {{ namemember }}</h1>
    <p class="lead">Member ID: {{ memberid }}</p>
    <div class="col-lg-6">
        
    <br />
    <table class="table table-striped table-bordered border-100">
    
    <thead>
        <tr>
            <th>Member ID</th>
            <th>TeamName</th>
            <th>FirstName</th>
            <th>LastName</th>
            <th>City</th>
            <th>Birthdate</th>
        </tr>
    </thead>
    <tbody class="table-group-divider">
        {% if memberinfo != None %}
        {% for member in memberinfo %}
            <tr>
                {% for entry in member %}
                    <td>{{entry}}</td>
                {% endfor %}
            </tr>
        {% endfor %}
        {% endif %}
    </tbody>
    </table>

    {% if memberinfo == None %}
    <div class="p-3 text-warning-emphasis bg-warning-subtle border border-warning-subtle rounded-3">
        No result found from the database!
      </div>
    {% endif %}

    <!-- Form -->
    <br />
    
    <form class="needs-validation" novalidate="">
        <div class="row g-3">
          <div class="col-sm-6">
            <label for="firstName" class="form-label">First name</label>
            <input type="text" class="form-control" id="firstName" placeholder="{{memberinfo[0][2]}}" required="">
            <div class="invalid-feedback">
              Valid first name is required.
            </div>
          </div>

          <div class="col-sm-6">
            <label for="lastName" class="form-label">Last name</label>
            <input type="text" class="form-control" id="lastName" placeholder="{{memberinfo[0][3]}}" required="">
            <div class="invalid-feedback">
              Valid last name is required.
            </div>
          </div>

          <div class="col-12">
            <label for="team" class="form-label">Team</label>
            <select class="form-select" id="country" required="">
                <option value="">Choose...</option>
                
                <option>这里需要for出所有的team</option>
            </select>
            <div class="invalid-feedback">
              Please select the team.
            </div>
          </div>

          <div class="col-md-6">
            <label for="city" class="form-label">City</label>
            <input type="text" class="form-control" id="city" placeholder="{{memberinfo[0][4]}}" required="">
            <div class="invalid-feedback">
              Please enter the city.
            </div>
          </div>

          <div class="col-md-6">
            <label for="date" class="form-label">Date of Birth</label>
            <input type="date" class="form-control" id="date" placeholder="{{memberinfo[0][5]}}" required="">
            <div class="invalid-feedback">
              Please enter a valid date.
            </div>
          </div>

        </div>

        <hr class="my-4">

        <button class="w-100 btn btn-warning btn-lg" type="submit">Submit</button>
      </form>  

    </div>
    
</div>

{% endblock %}