{% extends "base.html" %}
{% block title %}List of members{% endblock %}
{% block memberlist_active %}active{% endblock %}

{% block content %}

<h1 class="display-4 text-body-emphasis fw-bold">Member List</h1>
<p class="lead">A list of all NZ Olympic Team members</p>

<br />

<table class="table table-bordered border-100 table-striped">
    <thead>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Team</th>
            <th>City</th>
            <th>Birthdate</th>

        </tr>
    </thead>
    <!-- <tbody class="table-group-divider">
        {% for member in memberlist %}
        <tr>
            {% for entry in member %}
            <td>{{entry}}</td>
            {% endfor %}
        </tr>
        {% endfor %}
    </tbody> -->

    <tbody class="table-group-divider">
        {% for member in memberlist %}
        <tr>
            {% for entry in member %}
            {% if loop.index0 == 0 %}
            <td><a href="{{ url_for('memberPage', member_id=member[5]) }}">{{ entry }}</a></td>
            {% elif loop.index0 == 5 %}
            
            {% else %}
            <td>{{ entry }}</td>
            {% endif %}
            {% endfor %}
        </tr>

        {% endfor %}
    </tbody>
</table>



{% endblock %}