{% extends "base_admin.html" %}
{% block title %}Search{% endblock %}
{% block content %}

<div class="px-4 pt-1 my-1">
    <h1 class="display-4 text-body-emphasis fw-bold">Search</h1>
    <div class="col-lg-12">
        <div class="row g-4">
            <div class="col-md-7 col-lg-6">
                <form class="d-flex my-2 mb-4" role="search" action="/admin/search" method="GET">
                    <input class="form-control me-2" type="search" name="searchinput"
                        placeholder="Search members or events here! By name or ID" aria-label="Search" value="{{ searchinput }}">
                    <button class="btn btn-outline-primary" type="submit">Search</button>
                </form>
            </div>
        </div>
    </div>

    <!-- Results in member -->
    <div class="col-lg-12">
        <div class="row g-4">
            <div class="col-md-7 col-lg-6">

                <h3 class="text-body-emphasis fw-bold">Results in members</h3>
                <p class="lead">Ordered by team & lastname</p>
                <a href="{{ url_for('edit') }}"><button class="btn btn-warning my-2">Edit</button></a>
                <table class="table table-striped table-bordered border-100">

                    <thead>
                        <tr>
                            <th>Member ID</th>
                            <th>TeamName</th>
                            <th>FirstName</th>
                            <th>LastName</th>
                        </tr>
                    </thead>
                    <tbody class="table-group-divider">
                        {% if searchresult1 != None %}
                        {% for member in searchresult1 %}
                        <tr>
                            {% for entry in member %}
                            {% if loop.index0 == 3 %}
                            <td><u><b>{{entry}}</b></u></td>
                            {% else %}
                            <td>{{entry}}</td>
                            {% endif %}

                            {% endfor %}
                        </tr>
                        {% endfor %}
                        {% endif %}
                    </tbody>
                </table>

                {% if searchresult1 == None %}
                <div class="p-3 text-warning-emphasis bg-warning-subtle border border-warning-subtle rounded-3">
                    No result found from the database!
                </div>
                {% endif %}
            </div>




            <!-- Results in events -->

            <div class="col-md-7 col-lg-6">
                <h3 class="text-body-emphasis fw-bold">Results in events</h3>
                <a href="{{ url_for('edit') }}"><button class="btn btn-warning my-2">Edit</button></a>
                <table class="table table-striped table-bordered border-100">

                    <thead>
                        <tr>
                            <th>Event ID</th>
                            <th>EventName</th>
                            <th>Sport</th>
                            <th>NZTeam</th>
                        </tr>
                    </thead>
                    <tbody class="table-group-divider">
                        {% if searchresult2 != None %}
                        {% for event in searchresult2 %}
                        <tr>
                            {% for entry in event %}
                            <td>{{entry}}</td>
                            {% endfor %}
                        </tr>
                        {% endfor %}
                        {% endif %}
                    </tbody>
                </table>

                {% if searchresult2 == None %}
                <div class="p-3 text-warning-emphasis bg-warning-subtle border border-warning-subtle rounded-3">
                    No result found from the database!
                </div>
                {% endif %}




            </div>
        </div>
    </div>
</div>



{% endblock %}